<p align="center"><span style="font-family: 'Times New Roman', serif;"><span style="font-size: large;"><strong style="font-weight:bold;">Список литературы</strong></span></span></p>
<p align="center">&nbsp;</p>
<p align="justify"><span style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;"><strong style="font-weight:bold;">Общая</strong></span></span></p>
<ul style="margin: initial; padding: 0 0 0 40px;">
<li style="list-style-type: disc;"><span style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;">Гецци К., Джазайери М., Мандриоли Д. Основы инженерии программного обеспечения. 2-е изд.: Пер. с англ. &mdash; СПб.: БХВ-Петербург, 2005. &ndash; 832с: ил.</span></span></li>
<li style="list-style-type: disc;"><span style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;">Орлов С. Технологии разработки программного обеспечения. Разработка сложных программных систем. Учебное пособие. СПб: Питер, 2003, 480с, ил.</span></span></li>
<li style="list-style-type: disc;"><span style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;">Брауде Э.Дж. Технология разработки программного обеспечения (2004)</span></span></li>
<li style="list-style-type: disc;"><span style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;">Благодатских В.А. Стандартизация разработки программных средств: учеб. пособие/ В.А. Благодатских, В.А. Волкин, К.Ф. Поскакалов; под ред. О.С. Разумова. &mdash; М. : Финансы и статистика, 2006. &mdash; 288 с., ил.</span></span></li>
<li style="list-style-type: disc;"><span style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;">Брукс Ф. Мифический человеко-месяц или как создаются программные системы. СПб: Символ-Плюс, 2006. &ndash; 304 с., ил.</span></span></li>
<li style="list-style-type: disc;"><span style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;">Д.Кознов. Введение в программную инженерию: Учебный курс. М.: Интуит, 2008.</span></span></li>
</ul>
<p align="justify">&nbsp;</p>
<p align="justify"><span style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;"><strong style="font-weight:bold;">Жизненный цикл разработки ПО</strong></span></span></p>
<ul style="margin: initial; padding: 0 0 0 40px;">
<li style="list-style-type: disc;"><span style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;">Бек К. Экстремальное программирование. &ndash; СПб.: Питер, 2002. &ndash; 224с., ил.</span></span></li>
<li style="list-style-type: disc;"><span style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;">Якобсон А., Буч Г., Рамбо Дж. Унифицированный процесс разработки программного обеспечения. &ndash; СПб.: Питер, 2002. &ndash; 496 с.: ил.</span></span></li>
</ul>
<p align="justify">&nbsp;</p>
<p align="justify"><span style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;"><strong style="font-weight:bold;">Управление требованиями</strong></span></span></p>
<ul style="margin: initial; padding: 0 0 0 40px;">
<li style="list-style-type: disc;"><span style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;">Вигерс К. Разработка требований к программному обеспечению/ Пер, с англ. &mdash; М.: Издательско-торговый дом &laquo;Русская Редакция&raquo;, 2004. &ndash; 576с.: ил.</span></span></li>
<li style="list-style-type: disc;"><span style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;">Коберн А. Современные методы описания функциональных требований к системам. М: Издательство &laquo;Лори&raquo;, 2002. 263 с.: ил.</span></span></li>
</ul>
<p align="justify">&nbsp;</p>
<p align="justify"><span style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;"><strong style="font-weight:bold;">Качество ПО</strong></span></span></p>
<ul style="margin: initial; padding: 0 0 0 40px;">
<li style="list-style-type: disc;"><span style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;">Фаулер М. Рефакторинг. Улучшение существующего кода. &ndash; Пер. с англ. &ndash; СПб: Символ-Плюс, 2003. &ndash; 432 с., ил.</span></span></li>
<li style="list-style-type: disc;"><span style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;">Глухих М.И., Ицыксон В.М. Программная инженерия. Обеспечение качества программных средств методами статического анализа. Учебное пособие. СПб: Изд-во Политехн. Ун-та. 2001, 150с.</span></span></li>
</ul>
<p align="justify">&nbsp;</p>
<p align="justify"><span style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;"><strong style="font-weight:bold;">Тестирование</strong></span></span></p>
<ul style="margin: initial; padding: 0 0 0 40px;">
<li style="list-style-type: disc;"><span style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;">Бейзер. Б. Тестирование черного ящика. Технологии функционального тестирования ПО и систем. СПб: Питер, 2004. &ndash; 318 с, ил.</span></span></li>
<li style="list-style-type: disc;"><span style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;">Калбертсон Р, Браун К., Кобб Г. Быстрое тестирование: Пер. с англ.. &ndash; М.: Издательский дом &laquo;Вильямс&raquo;, 2002. &ndash; 384с.: ил.</span></span></li>
<li style="list-style-type: disc;"><span style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;">Савин Роман Тестирование Дот Ком, или Пособие по жесткому обращению с багами в интернет-стартапах.</span></span></li>
<li style="list-style-type: disc;"><span style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;">Тамре Л. Введение в тестирование программного обеспечения.</span></span></li>
</ul>
<br>
<a href="https://drive.google.com/open?id=1YUINH72yyeL88VtjOMdZbS5uuEPxD5Jl">Скачать</a>
